html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/slotpink.png);
    background-size: cover; 
    background-position: center;
       
}

.doors {
    display: flex;
    
}

.door {
    background: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4) inset;
    width: 90px;
    height: 130px;
    overflow: hidden;
    border-radius: 2ex;
    margin: .10ch;
    border: 7px solid #c93667; 
    margin-top: 60px;
    text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 70px #ff69b4, 0 0 80px #ff69b4, 0 0 100px #ff69b4;
}

.boxes {
    transition: transform 1s ease-in-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 3rem;
    
}

.buttons {
    margin: 1rem 0 2rem 0;
    
  
}

button {
  background-color: black; 
  border: none;
  color: #c93667;
  padding: 20px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:90%;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
  

}
    

.info {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 50px;   
    
}

.feeling-lucky-text {
    font-family: 'Lobster', cursive;
    font-size: 6.5rem;
    color: black;
    margin: 0px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 70px #ff69b4, 0 0 80px #ff69b4, 0 0 100px #ff69b4;
   
        }

    #resetScore {
    font-size: 24px; 
    padding: 15px 20px; 
    margin-top: 20px; 
        }

#score {
    font-size: 30px; 
    font-weight: bold;
    text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4, 0 0 40px #ff69b4, 0 0 70px #ff69b4, 0 0 80px #ff69b4, 0 0 100px #ff69b4;
    
}

#resetButton,
#spinButton {
    font-family: 'YourDesiredFont', sans-serif;
    font-size: 20px;
    padding: 25px 20px; 
    color: #ffd700; 
    text-shadow: 0 0 10px #b8860b, 0 0 20px #b8860b, 0 0 30px #b8860b, 0 0 40px #b8860b, 0 0 70px #b8860b, 0 0 80px #b8860b, 0 0 100px #b8860b; 
    border: 2px solid #ff69b4;

}

.buttons button {
    font-family: 'YourDesiredFont', sans-serif;
    font-size: 20px;
    padding: 25px 20px;
    margin-top: 30%;
}
    
